body{background-color: blueviolet}
.card{
    display: none;}
.wrapp{
    display: flex;
    justify-content: space-around;
}
#solo, #duo{
    height: 50%;
    width: 45%;
    background-color: #dbf5f5;
    margin: 0 auto;
    font-size: 100px;
    color: blueviolet;
    border-radius: 10rem;
    border: 5px solid #e7d7bf;
}
#Rock, #Paper, #Scissors{
    height: 50%;
    width: 45%;
    background-color: #dbf5f5;
    margin: 0 auto;
    font-size: 30px;
    color: blueviolet;
    border-radius: 10rem;
    border: 5px solid #e7d7bf;
    margin: 0 2rem;
}
img{
    width: 30%;
}
.img__area{
    display: flex;
    justify-content: space-between;
}
#secondPlayer{
    transform: scale(-1,1);
}
